serverless.yml
org: amirykehara
service: pardos-unified
provider:
  name: aws
  runtime: python3.13
  region: us-east-1
  memorySize: 256
  timeout: 29
  iam:
    role: arn:aws:iam::773506457076:role/LabRole  # Rol existente
  environment:
    CUSTOMERS_TABLE: CustomersTable-pardos-unified-dev
    ORDERS_TABLE: OrdersTable-pardos-unified-dev
    STEPS_TABLE: StepsTable-pardos-unified-dev
    INVENTORY_TABLE: InventoryTable-pardos-unified-dev
    EVENT_BUS_NAME: PardosEventBus-pardos-unified-dev
    # SNS_REJECTION_TOPIC_ARN movido a Outputs (resuelto post-deploy en Lambdas)
  httpApi:
    cors: true
functions:
  createOrder:
    handler: handler.create_order
    events:
      - httpApi:
          path: /orders
          method: post
  getOrdersByCustomer:
    handler: handler.get_orders_by_customer
    events:
      - httpApi:
          path: /orders/{customerId}
          method: get
  createCustomer:
    handler: handler.create_customer
    events:
      - httpApi:
          path: /customers
          method: post
  getCustomer:
    handler: handler.get_customer
    events:
      - httpApi:
          path: /customers/{customerId}
          method: get
  getOrder:
    handler: handler.get_order
    events:
      - httpApi:
          path: /order/{orderId}
          method: get
  iniciarEtapa:
    handler: handler.iniciar_etapa
    events:
      - httpApi:
          path: /etapas/iniciar
          method: post
  completarEtapa:
    handler: handler.completar_etapa
    events:
      - httpApi:
          path: /etapas/completar
          method: post
  obtenerResumen:
    handler: handler.obtener_resumen
    events:
      - httpApi:
          path: /dashboard/resumen
          method: get
  obtenerMetricas:
    handler: handler.obtener_metricas
    events:
      - httpApi:
          path: /dashboard/metricas
          method: get
  obtenerPedidos:
    handler: handler.obtener_pedidos
    events:
      - httpApi:
          path: /dashboard/pedidos
          method: get
  # Tus funciones originales (nombres en camelCase → CloudFormation genera XxxLambdaFunction)
  cookingStage:
    handler: handler.process_cooking
  packagingStage:
    handler: handler.process_packaging
  deliveryStage:
    handler: handler.process_delivery
  deliveredStage:
    handler: handler.process_delivered
  # NUEVAS (mismo estilo)
  checkInventory:
    handler: handler.check_inventory
  rejectOrder:
    handler: handler.reject_order
resources:
  Resources:
    CustomersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: CustomersTable-pardos-unified-dev
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
    OrdersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: OrdersTable-pardos-unified-dev
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
          - AttributeName: customerId
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
        GlobalSecondaryIndexes:
          - IndexName: customerId-index
            KeySchema:
              - AttributeName: customerId
                KeyType: HASH
            Projection:
              ProjectionType: ALL
    StepsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: StepsTable-pardos-unified-dev
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
    InventoryTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: InventoryTable-pardos-unified-dev
        AttributeDefinitions:
          - AttributeName: productId
            AttributeType: S
        KeySchema:
          - AttributeName: productId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
    PardosEventBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: PardosEventBus-pardos-unified-dev
    OrderCreatedRule:
      Type: AWS::Events::Rule
      Properties:
        Name: OrderCreatedRule
        EventBusName: !Ref PardosEventBus
        EventPattern:
          source:
            - "pardos.orders"
          detail-type:
            - "OrderCreated"
        State: ENABLED
        Targets:
          - Arn: !GetAtt OrderWorkflowStateMachine.Arn
            Id: StartExecution
            RoleArn: arn:aws:iam::773506457076:role/LabRole
    OrderWorkflowStateMachine:
      Type: AWS::StepFunctions::StateMachine
      Properties:
        StateMachineName: OrderWorkflow-pardos-unified-dev
        DefinitionString: !Sub |
          {
            "Comment": "Validación de stock + envío a cocina",
            "StartAt": "CheckInventory",
            "States": {
              "CheckInventory": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${CheckInventoryLambdaFunction}",
                "Next": "Cooking",
                "Catch": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "Next": "PassToReject",
                    "ResultPath": "$.error"
                  }
                ]
              },
              "PassToReject": {
                "Type": "Pass",
                "Parameters": {
                  "detail.$": "$",
                  "error.$": "$.error"
                },
                "Next": "RejectOrder"
              },
              "Cooking": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${CookingStageLambdaFunction}",
                "End": true
              },
              "RejectOrder": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${RejectOrderLambdaFunction}",
                "End": true
              }
            }
          }
        RoleArn: arn:aws:iam::773506457076:role/LabRole
    # NUEVO: SNS Topic para notificaciones de rechazo
    OrderRejectionTopic:
      Type: AWS::SNS::Topic
      Properties:
        TopicName: OrderRejection-pardos-unified-dev
        DisplayName: "Notificaciones de Pedidos Rechazados"
    # NUEVO: Suscripción de email al topic (pendiente de confirmación)
    OrderRejectionEmailSubscription:
      Type: AWS::SNS::Subscription
      Properties:
        Protocol: email
        TopicArn: !Ref OrderRejectionTopic
        Endpoint: amir.ykehara@utec.edu.pe  # ← Cambia si usas otro correo
  Outputs:
    SnsRejectionTopicArn:  # ← NUEVO: Exporta el ARN como env var para Lambdas
      Description: "ARN del SNS Topic para rechazos"
      Value: !Ref OrderRejectionTopic
      Export:
        Name: !Sub "${AWS::StackName}-SnsRejectionTopicArn"
